body
{
	margin: 0;
}


#firstNavDiv
{
	height: 6vh;
	background-color: yellow;
	text-align: center;
}



#firstNavDiv  nav
{
	width: 80%;
	transform: translateY(90%);
	float: right;
	margin-right: -10%;

}

#firstNavDiv nav ul
{
	list-style: none;
	margin: 0;

	
}
#firstNavDiv  ul li
{
	border-right: solid gray;
	display: inline;
	padding-left: 1%;
	padding-right: 1%;
	width: 15%;

}

#firstNavDiv  ul li a
{
	margin: 0;
	text-decoration: none;
	padding: 0;
}

#firstNavDiv  ul li:hover
{
	border-bottom: solid yellow;
}






#secondNavDiv
{
	height: 11vh;
	background-color: blue;
	border: solid;
	border-color: inherit;
}


#secondNavDiv nav
{
	transform: translateY(-30%);

}

#secondNavDiv nav ul
{
	
	margin: 0;
	margin-top: 1%;
	
}


#secondNavDiv nav ul li
{
	display: inline;
	padding-left: 2%;
	
	word-wrap: break-word;
}

#secondNavDiv nav ul li:hover
{
	border-bottom: solid;
	padding-bottom: 2%;
	border-color: yellow;
	
	border-width: 20px;
	z-index: 7;

}




#secondNavDiv nav ul a
{
	margin: 0;
	text-decoration: none;
	padding: 0;
		

	
}

#secondNavDiv nav ul li:hover a
{
	margin: 0;
	color: yellow;
	padding: 0;
		

	
}

#secondNavDiv nav ul p
{
	margin: 0;
	width: 10%;
	word-wrap: break-word;
	padding: 0;
	display: inline-block;


	
}

#secondNavDiv nav ul a img
{
	max-width: 15%;
	height: auto;
	transform: translateY(30%);

}

#aboutPgccDiv
{
	height: 40vh;
	width: 100%;
	position: fixed;
	background-color: blue;
	z-index: 5;
	top: 17.2vh;
	border: solid white;
	display: none;
	
}

#secondNavDiv:hover div
{
	display: block;
}








/*TODO set text align to center
*/#topVideoDiv
{
	background-color: green;
	text-align: center;
	align-content: center;
	height: 85vh;
	
}

#topVideoDiv #videoBlockDiv
{
	height: 85vh;
	width: 100%;
	background-color: red;
	display: inline-block;
	position: relative;
	overflow: hidden;
	z-index: 1;

}

#topVideoDiv #videoBlockDiv video
{
	position: absolute;
	width: 100%;
	right: 0%;
	display: inline-block;
	z-index: 2;
	color: blue;
	filter: grayscale(50%);
}

#topVideoDiv #videoBlockDiv div
{
	position: absolute;
	display: inline-block;
	z-index: 3;
	right: 15%;
	text-align: left;
	width: 70%;
	top: 7%;




}

#topVideoDiv #videoBlockDiv div p
{
	font-size: 650%;
	margin: 0;
	color: white;
	font-weight: bold;

}

#topVideoDiv #videoBlockDiv div a button
{
	
	background-color: yellow;
	padding: 5%;
	font-size: 120%;
	color: blue;
	padding: 2% 2%;
	width: 25%;
	margin: 1%;
	margin-top: 20%;

}















#ourStoriesDiv
{
	height: 45vh;
	background-color: blue;
	border: solid;
	text-align: center;
	align-content: center;
}

#ourStoriesDiv h1
{
	color: cyan;
	font-size: 450%;
}

#ourStoriesDiv p
{
	
	font-size: 150%;
	width: 73%;
	margin-left: 13%;
	line-height: 150%;

}










#kevinEnisDiv
{
	height: 80vh;
	background-color: red;
		position: relative;

}

#kevinPicDiv
{
	height: 40vh;
	width: 43%;
	background-image: url('Images/kevin.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: cyan;
	box-shadow: inset 0 0 0 1000px rgba(255, 255, 0,.5);
	display: inline-block;
	margin-left: 7%;
	float:left;
}

#kevinPicDiv p
{
	font-size: 400%;
	color: blue;
	margin-top: 35%;
	font-weight: bold;
	display: inline-block;
	margin-left: 10%;
}



#kevinContentDiv
{
		height: 40vh;
	width: 43%;
	
	background-repeat: no-repeat;
	background-size: cover;
	background-color: yellow;
	display: inline-block;

	margin-left: 7%;
	float:left;
	align-content: center;
}

#kevinContentDiv p
{
	width: 70%;
	font-size: 150%;
	line-height: 150%;
	margin-left: 12%;
}

#enisPicDiv
{
	height: 40vh;
	width: 43%;
	background-image: url('Images/enis.jpeg');
	box-shadow: inset 0 0 0 1000px rgba(29,200,22,.5);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: cyan;
	display: inline-block;
	float: right;
	margin-right: 7%;
	
}

#enisPicDiv p
{
	font-size: 400%;
	color: blue;
	margin-top: 35%;
	font-weight: bold;
	display: inline-block;
	margin-left: 10%;
}

#enisContentDiv
{
	height: 40vh;
	width: 43%;
	background-color: cyan;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: cyan;
	display: inline-block;
	float: right;
	margin-right: 7%;
}
#enisContentDiv p
{
		width: 70%;
	font-size: 150%;
	line-height: 150%;
	margin-left: 12%;
}












#thisIsYourStageDiv
{
	height: 120vh;
	background-color: blue;


}

#thisIsYourStageDiv #imageDiv
{
	background-color: green;
	width: 85%;
	height: 65vh;
	margin-left: 7.5%;
	overflow: hidden;
}

#thisIsYourStageDiv #imageDiv img
{
	margin-top: -10%;
}

#thisIsYourStageDiv #contentDiv
{
	background-color: pink;
	width: 85%;
	height: 55vh;
	margin-left: 7.5%;
	overflow: hidden;
	text-align: center;
	align-content: center;
}

#thisIsYourStageDiv #contentDiv h1
{
	font-size: 400%;
}

#thisIsYourStageDiv #contentDiv p
{
	font-size: 175%;
	width: 50%;
	margin-left: 25%;
	line-height: 200%;
}

#thisIsYourStageDiv #contentDiv button
{
	background-color: yellow;
	padding: 2%;
}













#programCoursesStudentLifeDiv
{
	height: 100vh;
	background-color: red;
	
}

#programCoursesStudentLifeDiv a
{
	color: blue;
	text-decoration: none;
}

#programCoursesStudentLifeDiv h1
{
	color: green;
	font-size: 300%;
	margin-left: 10%;
	margin-top: 10%;
}

#programCoursesStudentLifeDiv p
{
	font-size: 175%;
	line-height: 150%;
	width: 80%;
	margin-left: 10%;
}

#programCoursesStudentLifeDiv #contentDiv
{
	width: 85%;
	background-color: blue;
	height: 100vh;
	margin-left: 7.5%;

}

#programsImageDiv
{
	overflow: hidden;
	width: 50%;
	float: left;
	height: 50vh;
}

#programsContentDiv
{
	width: 50%;
	float: right;
	height: 50vh;
	background-color: purple;


}

#studentContentDiv
{
	width: 50%;
	float: left;
	height: 50vh;
	background-color: purple;

}

#studentImageDiv
{
	overflow: hidden;
	width: 50%;
	float: right;
	height: 50vh;
}






#newsDiv
{
	height: 85vh;
	background-color: cyan;
}

#newsDivContent
{
	background-color: yellow;
	width: 85%;
	margin-left: 7.5%;
	height: 85vh;
	overflow: hidden;
}

#newsDivContent h1
{
	font-size: 400%;
	color: blue;
	font-weight: bolder;
	margin-top: 7%;
	margin-left: 7%;
}

#newsDivContent img
{
	width: 100%;
	height: 44%;
}

#newsDivContent a
{
	text-decoration:none;
	
}

#newsDivContent .dates
{
	color: blue;
	font-weight: bolder;
	font-size: 90%;
}

#newsDivContent .content
{
	font-size: 190%;
	line-height: 150%;
	color: blue;
	font-weight: bolder;
}

#pg
{
	background-color: green;
	height: 60vh;
	display: inline-block;
	margin-left: 4.5%;
	width: 27%;
	overflow: hidden;
}

#rhoden
{
	background-color: red;
	height: 60vh;
	display: inline-block;
	margin-left: 4.5%;
	width: 27%;
	overflow: hidden;
}

#dishes
{
	background-color: pink;
	height: 60vh;
	display: inline-block;
	width: 27%;
	overflow: hidden;
	margin-left: 4.5%;
	
}











#eventsDiv
{
	height: 50vh;
	background-color: blue;
	overflow: hidden;

}

#eventContentDiv
{
	overflow: hidden;
	width: 80%;
	background-color: cyan;
	height: 50vh;
	margin-left: 10%;
}

#eventsDiv h1
{
	font-size: 400%;
	font-weight: bolder;
	color: lightgreen;
	margin-left: 3%;
}

#registration1Div
{
	background-color: pink;
	height: 25vh;
	width: 30%;
	display: inline-block;
	margin-left: 3%;
}

#registration2Div
{
	background-color: gray;
	height: 25vh;
	width: 30%;
	display: inline-block;
	margin-left: 3%;
}

#registration3Div
{
	background-color: brown;
	height: 25vh;
	width: 30%;
	display: inline-block;
	margin-left: 3%;
}

.month
{
	font-size: 110%;
	color: blue;
	margin: 0;
	transform: translateY(10%);
}

.day
{
	display: inline-block;
	font-size: 350%;
	color: blue;
	margin: 0;
	transform: translateY(-55%);
	font-weight: bolder;
	
}

.contentP
{
	display: inline-block;
	font-weight: bolder;
	font-size: 150%;
	width: 60%;

}

.time
{
	display: inline-block;
	margin-top: 0;
	margin-left: 15%; 

}














#contactMeDiv
{
	height: 15vh;
	background-color: green;
}

#tailDiv
{
	height: 25vh;
	background-color: yellow;
}
